extends layout

block content
  h1 #{title} 
  h2 #{supplier.name}

  div(style='margin-left:20px;margin-top:20px')

  h4 Items 

  dl 
    each item in supplier_items
      dt 
        a(href=item.url) #{item.name} 
      dd #{item.description} 

    else 
      p This supplier has no item 

